*{
    box-sizing: border-box;
    font-family:  Courier,sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}

.title-banner{
    background:linear-gradient(to right,rgb(0, 125, 150),rgb(4, 6, 7));
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    padding: 15px;
    max-width: 1024px;
    margin: 0 auto;
}

h2{
    font-weight: 30px;
    font-size: 2em;
    margin-top: 50px;
}
p{
    font-size: 16px;
    font-weight: 20px;
}


@media screen and (min-width: 1024px) {
        /* for desktop devices */
    body {
      font-size: 16px;
      line-height: 1.5;
    }
  
    .container {
      width: 960px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 767px) {
    /* for mobile devices */
    body {
      font-size: 14px;
      line-height: 1.4;
    }
  
    .container {
      width: 100%;
      padding: 10px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* for tablet devices */
    body {
      font-size: 14px;
      line-height: 1.4;
    }
  
    .container {
      width: 80%;
      margin: 0 auto;
    }
  }